.bg-primary {
  background-color: #e4cfb6 !important;
}
.bg-secondary {
  background-color: #810b0b !important;
}
.text-primary {
  color: #be9900 !important;
}
.text-secondary {
  color: #223263 !important;
}
.text-secondary-emphasis {
  color: #810b0b !important;
}
.btn-primary {
  background-color: #810b0b;
  color: #fff;
}
.btn-secondary {
  background-color: #be9900;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
body {
  font-family: "Poppins", sans-serif;
}
.btn {
  border: none;
}

.nav-item {
  text-transform: uppercase;
}
/* Search bar */
.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control:focus {
  box-shadow: none;
}
.icons {
  background-color: rgba(255, 255, 255, 0.448); /* border: 1px black solid; */
  padding: 5px;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons:hover {
  background-color: #f7f7f7;
  color: white;
}
/* Hide dropdown arrow */
.dropdown-toggle::after {
  display: none;
}

/* in active */
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active {
  background-color: #810b0b;
  color: white;
  /* Optionally change the text color */
}

#mainNavigation .navbar-nav .active {
  color: #be9900;
}
.nav-item a:hover {
  color: #be9900;
}
#mainNavigation .navbar-nav .nav-item {
  padding-bottom: 1px;
  width: 30%;
}
#mainNavigation .header > i {
  padding-bottom: 15px;
}
#mainNavigation .main-barnd {
  font-family: "Niconne";
  font-size: 48px;
  text-transform: none;
}

/* slider */
.carousel-item img {
  height: 300px;
  transition: 0.3s ease;
}
.icons {
  background-color: white;
  padding: 5px;
  border-radius: 30px;
}
.icons:hover {
  background-color: #810b0b6d;
  color: white;
}
/* slider */

.aboutus {
  text-align: center;
  margin: 20px 0;
}
.aboutus h1 {
  font-size: 2.5rem;
  font-weight: bold;
  box-shadow: 0px 0px 10px #e4cfb6 inset;
}

/* start body */
.team-slider img {
  border-radius: 50%;
  margin: auto;
}
.team-slider h5 {
  margin-top: 15px;
  font-weight: bold;
}
.team-slider p {
  margin-bottom: 5px;
}
.icons-section .icon-box {
  text-align: center;
  margin: 20px 0;
}
.icons-section .icon-box i {
  font-size: 40px;
  color: #d9534f;
  margin-bottom: 10px;
}
